<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Event Name: <%= @event.name %></h1>
  </div>
</div>

<div class="mt-4">
  <h2>Last 5 RSVPs</h2>
  <ul class="list-group" id="rsvps" data-target="rsvp.list">
    <% @event.rsvps.order(created_at: :desc).limit(5).each do |rsvp| %>
      <li class="list-group-item" id="<%= dom_id(rsvp) %>">
        <%= rsvp.name %> (<%= rsvp.email %>)
      </li>
    <% end %>
  </ul>
</div>

<div class="mt-4">
  <h2>RSVP to this event</h2>
  <%= turbo_frame_tag 'rsvp_form' do %>
    <%= form_with(model: [@event, @rsvp], local: false, data: { controller: "rsvp", action: "ajax:success->rsvp#submitForm" }) do |form| %>
      <div class="mb-3">
        <%= form.label :name, "Full Name", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <%= form.hidden_field :event_id, value: @event.id %>

      <div class="mb-3">
        <%= form.submit "RSVP", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="modal" tabindex="-1" role="dialog" data-controller="modal" data-new-rsvp-id="<%= flash[:new_rsvp_id] %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" data-target="modal.rsvpId"></div>
    </div>
  </div>
</div>